@import '~antd/dist/antd.css';

.App {
  text-align: center;
}

.player-wrapper {
  display: flex;
  justify-content: center;
}

.table-wrapper {
  margin-top: 25px;
  margin-right: 5%;
}

.graph-wrapper {
  margin-top: 25px;
  width: 40%;
}

.graph {
  padding: 2%;
  margin: 2% 0;
}